h2 {
  display: block;
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: 'Bernadette Rough';
  text-align: center;
  color: #fff;

}
.validate{
  color: #fff;
}
i{
  margin:   10px;
}

 input[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
  margin-right: 50px;
    color: #fff;
    margin-top: 20px;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
width: 80%;
font-size: 15px;
}
input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #ff2b4d;
    box-shadow: 0 1px 0 0 #ff2b4d;
}


.error{
  font-size: 15px;
    margin-left: 20px;
    color: orangered;
}

/*******LOGIN******/
.login {
  font-family: "lato", Helvetica, Arial, sans-serif;
  color: #777;
  background-image: url("../images/ima-min.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 767px) {
  .login {
    background-image: url("../images/ima-min.png");
    height: 100vh;

  }
  .container{
    max-width: 100px;
  }
}

.container {
  max-width: 300px;
  margin: 30px auto;
  position: relative;
}


#contact {
  background: rgba(0,0,0,0.7);
  padding: 15px;
  top: 10px 0;
  bottom: 5px 0;

  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
*/
}
#login_principal li.parsley-required,.parsley-type{
      margin-top: -25px;
      font-size: 14px;
    color: #ff3f5e;
}


h3 {
  margin: 5px 0 15px;
  display: block;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Bernadette Rough';
  text-align: center;
  color: #fff;
}

.input-field input[type=text]:focus{
     border-bottom: 1px solid #ff2b4d;
     box-shadow: 0 1px 0 0 #ff2b4d;
}
.input-field input[type=password]:focus {
     border-bottom: 1px solid #ff2b4d;
     box-shadow: 0 1px 0 0 #ff2b4d;
   }
   .input-field input[type=pass].valid {
          border-bottom: 1px solid #ff2b4d;
          box-shadow: 0 1px 0 0 #ff2b4d;
   }
.input-field input[type=text].valid {
       border-bottom: 1px solid #ff2b4d;
       box-shadow: 0 1px 0 0 #ff2b4d;
}

.input-field input[type=email]:focus {
         border-bottom: 1px solid #ff2b4d;
         box-shadow: 0 1px 0 0 #ff2b4d;
       }
.key_olv a{
  margin-bottom: 20px;
  font-family: 'lato', arial, sans-serif;
  color: #ff2b4d;
  font-size: 18px;
  text-decoration: none;
  padding-left: 25px;
}
.key, .key a{
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.col.s3 {
  padding-left: 30px;
}
.hero-btn, .hero-second-btn {
    color: #FFFFFF;
    background: rgba(236,76,52,1);
    background: -moz-linear-gradient(left, rgba(236,76,52,1) 0%, rgba(255,43,78,0.92) 50%, rgba(255,43,77,0.83) 100%);
    background: -webkit-linear-gradient(left, rgba(236,76,52,1) 0%, rgba(255,43,78,0.92) 50%, rgba(255,43,77,0.83) 100%);
    border: 4px solid #ff2b4b;
    border-radius: 5px;
    padding: 2px 50px;
    font-size: 20px;
    margin: 0 40px;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    font-family: 'Lato';
    text-decoration: none !important;
}

i{
  color: #fff;
  font-size: 10px;
}

/*registro*/
.registro {
  font-family: "lato", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background-image: url("../images/registrarse-min.png");
  background-size: cover;
  background-repeat: no-repeat;

}
@media only screen and (max-width: 767px) {
  .registro {
    background-image: url("../images/registrarse-min.png");
    height: 100vh;

}
}

#mod_registro .container {
  max-width: 330px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#mod_registro h2{
  padding-bottom: 20px;
}
#mod_registro #contact{
  padding: 2px 15px;
  margin-top: 20px;
}
#mod_registro .input-field{
  margin-top: 20px;
}

#mod_registro i{
  margin:   10px;
  font-size: 15px;
}

#mod_registro    input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
    width: 80%;
    font-size: 15px;
    }
#mod_registro .input-field input[type=email]:focus {
         border-bottom: 1px solid #ff2b4d;
         box-shadow: 0 1px 0 0 #ff2b4d;
       }
#mod_registro li.parsley-required{
      margin-top: -35px;
      font-size: 14px;
    color: #ff3f5e;
}

#mod_registro .ingresa a {
    text-decoration: none;
    color: #ff2b4d;
    font-size: 18px;
    margin-left: 27px;
}
/**************************ESTILOS OLVIDO CONTRASEÑA************/
#olvido_contraseña i{
  margin:   10px;
}

 .olvido,.restore {
  font-family: "lato", Helvetica, Arial, sans-serif;
  background-image: url("../images/olvido-min.png");*/
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 767px) {
    .olvido,.restore {
    background-image: url("../images/olvido-min2.png");
    height: 100vh;

  }
#olvido_contraseña  .container{
    max-width: 100px;
  }
#olvido_contraseña  button .hero-btn, .hero-second-btn {
    margin: 0 55px;
  }
}

#olvido_contraseña .container {
  max-width: 300px;
  margin: 30px auto;
  position: relative;
}

#olvido_contraseña #contact {
  background: rgba(0,0,0,0.7);
  padding: 15px;



}
#olvido_contraseña h3 {
  margin: 5px 0 15px;
  display: block;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Lato';
  text-align: center;
  color: #fff;
}


#olvido_contraseña input[type=email], textarea.materialize-textarea {
 width: 80%;
 font-size: 18px;}
 #olvido_contraseña form p {
     margin-bottom: 10px;
     text-align: center;
     color: #fff;
     font-size: 17px;
 }
 @media (max-width:768px){
   #olvido_contraseña button.hero-btn, .hero-second-btn {
     margin: 0 55px;
 }
 }

#olvido_contraseña i{
  color: #fff;
  font-size: 15px;
}

#olvido_contraseña li.parsley-required{
    margin-top: 3px;
    font-size: 14px;
    color: #ff3f5e;
    margin-left: 20px;
}

/*RECUPERA CONTRASEÑA*/
#recuperarcontrasena i{
  margin: 10px;
  color: #fff;
  font-size: 15px;
}
#recuperarcontrasena form p {
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    font-size: 17px;
}
#recuperarcontrasena .fa-envelope:before {
    content: "\f0e0";
    margin-right: 15px;}

#recuperarcontrasena input[type=email], textarea.materialize-textarea {
 width: 80%;
 font-size: 18px;}

 #recuperarcontrasena h3 {
   margin: 5px 0 15px;
   display: block;
   font-size: 40px;
   font-weight: 500;
   font-family: 'Lato';
   text-align: center;
   color: #fff;
 }
#recuperarcontrasena .hero-btn{
  padding: 2px 15px;
    font-size: 20px;
    margin: 0 23px;
    margin-top: 20px;

}
#recuperarcontrasena li.parsley-required{
    margin-top: -25px;
    font-size: 18px;
    color: #ff3f5e;
    margin-left: 20px;
}
.password_rec {
 font-family: "lato", Helvetica, Arial, sans-serif;
 background-image: url("../images/restaurante-min.jpg");
 background-position: center center;
 background-size: cover;
 background-repeat: no-repeat;
}
@media only screen and (max-width: 767px) {
   .password_rec {
   background-image: url("../images/restaurante-min.jpg");
   height: 100vh;

 }
}
/***********COMPLETAR-PERFIL********/
   .completar_p {
   background-image: url("../images/completar_p.jpg");
   height: 100vh;
    font-family: "lato", Helvetica, Arial, sans-serif;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
 }
#completar_perfil h2{
    font-family: 'Lato';
    text-align: center;
    color: #fff;

  }
#completar_perfil form p {
    margin-bottom: 15px;
    text-align: left;
    color: #fff;
    font-size: 17px;
    margin-left: 20px;}

#completar_perfil [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #ff2b4d;
}
#completar_perfil [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #ff2b4d;
}

 @media only screen and (max-width: 767px) {
     .completar_p {
     background-image: url("../images/completar_p.jpg");
     height: 100vh;

   }
#completar_perfil input[type=date]{
  width: 80%;
    font-size: 15px;
    color: #fff;
}
#completar_perfil .input-field input[type=date]:focus {
         border-bottom: 1px solid #ff2b4d;
         box-shadow: 0 1px 0 0 #ff2b4d;
       }}
