.example {
	margin: 0 65px;
}
	.example__left {
		width: 10px;
		text-align: center;
	}

	.example__right {
		margin-left: 320px;
	}

	.btn input {
	 	top: -10px;
		right: -40px;
		z-index: 2;
		position: absolute;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
		font-size: 50px;
		cursor: pointer;
	}

	.btn-txt {
		position: relative;
	}

	.btn .progress {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: .5;
		position: absolute;
	}
.userpic {
	width: 120px;
	height: 120px;
	display: inline-block;
	position: relative;
	background: url('uploader/userpic.gif') no-repeat;
	background-size: cover;
  border: 2px solid rgba(0,0,0,.3);
}


.btn {
	cursor: pointer;
	*zoom: 1;
	*display: inline;
	display: inline-block;
	position: relative;
	overflow: hidden;
	font-size: 10px;
	font-family: 'Lato';
	border-radius: 4px;
	vertical-align: middle;
	background-color: #ff2b4d;
	background: rgba(236,76,52,1);
	background: -moz-linear-gradient(left, rgba(236,76,52,1) 0%, rgba(255,43,78,0.92) 50%, rgba(255,43,77,0.83) 100%);
	background: -webkit-linear-gradient(left, rgba(236,76,52,1) 0%, rgba(255,43,78,0.92) 50%, rgba(255,43,77,0.83) 100%);

}

	.userpic .btn {
    margin-top: 100px;
		padding: 0 10px;
    margin-left: 5px;

}


	.userpic__preview {
		position: absolute;
	}


.b-upload {
	white-space: nowrap;
}

.themodal-overlay {
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	z-index: 100000;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.lock {
	overflow: hidden;
}

.popup {
	margin: 25px;
	float: left;
	display: inline-block;
	box-shadow: 0 0 5px #000;
	background-color: #fff;
}
	.popup__body {
		margin: 10px 10px 5px;
	}
